{% extends "base.html" %}
{% block title %}Search Results{% endblock %}
{% block head %}
<style>
  em {
    font-style: normal;
  }
</style>
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock head %}
{% block body %}
<section class="bg-light">
  <div class="container">
    <div class="row">
    {% for result in results %}
      <div>
        <a href="{{ result[1] }}"><h5>{{ result[0] }}</h5></a>
        <p>{{ result[2] }}</p>
      </div>
    {% endfor %}
    </div>
  </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
