{# search.html #}
{# Statements like for, while, block, extends are enclosed in "{%" and "%}". #}
{% extends "base.html" %}                               {# specifies the template to inherit #}
{% block title %}Search Results{% endblock %}           {# define the webpage title #}
{% block head %}                                        {# to be included in <head> #}
<style>
  em {
    font-style: normal;
  }
</style>
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock head %}
{% block body %}                                        {# to be included in <body> #}
<section class="bg-light">
  <div class="container">
    <div class="col-9">
    {% for result in results %}
      <div class="card my-2">
        <div class="card-body">
          {#        webpage link                               title            #}
          <a href="{{ result[1] }}"><h5 class="card-title">{{ result[0] }}</h5></a>
                              {# text fragment #}
          <p class="card-text">{{ result[2] }}</p>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
